---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="header">
	<a href="/" class="logo">
		{SITE_TITLE}
	</a>

	<nav class="navbar">
		<HeaderLink href="/" class="item" style="--i: 1">Home</HeaderLink>
		<HeaderLink href="/blog" class="item" style="--i: 2">Blogs</HeaderLink>
		<HeaderLink href="/about" class="item" style="--i: 3">About</HeaderLink>
	</nav>
</header>
<style>
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 78px;
		padding: 20px 10%;
		background: transparent;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 100;
		background: var(--backgroudColor);
	}

	.logo {
		font-size: 25px;
		color: #fff;
		text-decoration: none;
		font-weight: 600;
		cursor: default;
		opacity: 0;
		animation: slideRight 1s ease forwards;
	}

	.navbar a {
		display: inline-block;
		font-size: 18px;
		color: #fff;
		text-decoration: none;
		font-weight: 500;
		margin-left: 35px;
		opacity: 0;
		transition: 0.3s;
		animation: slideTop 1s ease forwards;
		animation-delay: calc(0.2s * var(--i));
	}

	.navbar a:hover,
	.navbar a.active {
		color: #b7b2a9;
	}
</style>
